ul, li {
    list-style: none;
}
/*step content*/
.steps-container {
}

    .steps-container .step {
        color: #808080;
        font-size: 15px;
    }

        .steps-container .step:before {
            content: '*.';
            margin-left: -5px;
            margin-right: 10px;
            color: #007bff;
            font-size: 14px;
            font-weight: normal;
        }

        .steps-container .step:after {
            content: '';
            height: 25px;
            width: 1px;
            background: #007bff;
            display: block;
        }

        .steps-container .step:last-child:after {
            display: none;
        }

        .steps-container .step:nth-child(1):before {
            content: '1.'
        }

        .steps-container .step:nth-child(2):before {
            content: '2.'
        }

        .steps-container .step:nth-child(3):before {
            content: '3.'
        }

        .steps-container .step:nth-child(4):before {
            content: '4.'
        }

        .steps-container .step.active a {
            font-weight: 600;
            color: #000000;
        }

        .steps-container .step.disabled a {
            font-weight: normal;
            color: #b6b6b6;
            cursor: not-allowed;
        }

        .steps-container .step a {
            color: #808080;
        }

            .steps-container .step a:hover {
                text-decoration: none;
            }

/*form content*/
.form-container {
    background: #fff;
    padding: 30px 25px;
    border: 1px solid #dcdcdc;
    border-radius: 3px;
}