body {
    min-height: 600px;
    /*overflow-y: hidden;*/
}


@media (min-width: 1200px) {
    .container {
        max-width: 960px;
    }
}

a {
    color: #1f9eec;
}

.errors {
    font-size: 14px;
    border-radius: 0px;
}

#selectLanguage {
    line-height: 40px;
}

    #selectLanguage label {
        margin-bottom: 0px;
        font-size: 13px;
    }

    #selectLanguage .culture-select {
        float: right;
        border: none;
        height: 42px;
        display: block;
        padding-left: 10px;
    }

.culture-select .current {
    font-weight: 600;
}

.culture-select:focus {
    outline: none;
}

.culture-select .list {
    left: auto;
    right: 0px;
}

.content {
    margin: 0px -15px;
    box-sizing: border-box;
    border: 1px solid #e1e1e1;
    background: #ffffff;
}

    .content .main, .content .external {
        padding: 0px 150px;
    }

    .content .main {
        padding-top: 30px;
        padding-bottom: 20px;
    }

    .content .external {
        background: #f4f8fa;
        padding-top: 20px;
    }

.main .title {
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 20px;
}

.control-box {
    border: 1px solid #e1e1e1;
    margin-bottom: 10px;
    border-radius: 2px;
    width: 360px;
}

    .control-box .input-control {
        width: 100%;
        border: none;
        background: transparent;
        padding: 6px 8px;
        font-size: 14px;
        transition: all ease .2s;
    }

.input-control:focus {
    outline-color: #1f9eec;
}

.op-box {
    margin-top: 25px;
}


    .op-box .remember {
        line-height: 30px;
        font-size: 14px;
        font-weight: 600;
    }

        .op-box .remember input {
            margin-right: 3px;
        }

    .op-box .dot {
        font-weight: 600;
    }

    .op-box .other-link {
        font-size: 14px;
        display: inline-block;
        line-height: 30px;
        color: #1f9eec;
    }

.external p {
    color: #a0abb3;
    font-size: 14px;
    padding-bottom: 20px;
    margin: 0px;
}

.op-box .submit-btn {
    background: #1f9eec;
    color: #ffffff;
    border: none;
    line-height: 30px;
    border-radius: 15px;
    margin-right: 8px;
    font-size: 14px;
    padding: 0px 10px;
    min-width: 80px;
    text-transform: uppercase;
}

    .op-box .submit-btn:focus {
        outline: none;
    }
