@model IdentityServer4.Admin.Application.ViewModels.StartupViewModel
@{
    ViewBag.Title = "Startup";
    Layout = "~/Views/Shared/_StartupLayout.cshtml";
}

<div class="content">
    <partial name="_ValidationSummary"/>
    <section class="m-3">
        <h2>Default admin user</h2>
        <p>Add a default admin user</p>
        <form asp-action="Index" asp-controller="Startup" method="post">
            <div class="form-group row">
                <div class="col-12 col-lg-6">
                    <label asp-for="DefaultUser.UserName"></label>
                    <input asp-for="DefaultUser.UserName" class="form-control" placeholder="Enter username">
                    @Html.ValidationMessageFor(m => m.DefaultUser.UserName, null, new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group row">
                <div class="col-12 col-lg-6">
                    <label asp-for="DefaultUser.Email"></label>
                    <input class="form-control" asp-for="DefaultUser.Email" placeholder="Enter email">
                    @Html.ValidationMessageFor(m => m.DefaultUser.Email, null, new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group row">
                <div class="col-12 col-lg-6">
                    <label asp-for="DefaultUser.Password"></label>
                    <input class="form-control" asp-for="DefaultUser.Password" placeholder="Enter email">
                    @Html.ValidationMessageFor(m => m.DefaultUser.Password, null, new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group row">
                <div class="col-12 col-lg-6">
                    <label asp-for="DefaultUser.ComfirmPassword">Confirm password</label>
                    <input class="form-control" asp-for="DefaultUser.ComfirmPassword" placeholder="Enter email">
                    @Html.ValidationMessageFor(m => m.DefaultUser.ComfirmPassword, null, new { @class = "text-danger" })
                </div>
            </div>
            <button class="btn btn-primary">Submit</button>
        </form>
    </section>
</div>

