<aside class="control-sidebar control-sidebar-dark">
    <!-- Settings tab content -->
    <div class="settings-content">
        
        <h3 class="control-sidebar-heading">Language</h3>
        <partial name="_SelectLanguagePartial"/>
    </div>
</aside>