################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/IdentityServer4.Admin/v16/.suo
/.vs/IdentityServer4.Admin/v16/Server/sqlite3
/src/IdentityServer4.Admin.API/bin/Debug/netcoreapp2.2
/src/IdentityServer4.Admin.API/obj
/src/IdentityServer4.Admin.Application/bin/Debug/netstandard2.0
/src/IdentityServer4.Admin.Application/obj
/src/IdentityServer4.Admin.Domain/bin/Debug/netstandard2.0
/src/IdentityServer4.Admin.Domain/obj
/src/IdentityServer4.Admin.Infrastructures.Data/bin/Debug/netstandard2.0
/src/IdentityServer4.Admin.Infrastructures.Data/obj
*.dtbcache
/.vs/IdentityServer4.Admin/config
/src/IdentityServer4.Admin.Data.Mysql/bin/Debug/netstandard2.0
/src/IdentityServer4.Admin.Data.Mysql/obj
/src/IdentityServer4.SSO/bin/Debug/netcoreapp2.2
/src/IdentityServer4.SSO/obj
/src/IdentityServer4.Admin.BuildingBlock/bin/Debug/netstandard2.0
/src/IdentityServer4.Admin.BuildingBlock/obj
/src/IdentityServer4.Admin.Domain.Core/bin/Debug/netstandard2.0
/src/IdentityServer4.Admin.Domain.Core/obj
/src/IdentityServer4.Admin.Identity/bin/Debug/netstandard2.0
/src/IdentityServer4.Admin.Identity/obj
/src/IdentityServer4.Admin.IoC/bin/Debug/netstandard2.0
/src/IdentityServer4.Admin.IoC/obj
/src/IdentityServer4.Management/bin/Debug/netcoreapp2.2
/src/IdentityServer4.Management/obj
/src/IdentityServer4.AdminUI/bin/Debug/netcoreapp2.2
/src/IdentityServer4.AdminUI/obj
/src/IdentityServer4.SSO/files/avatars/201906
/tests/IdentityServer.SSO.Tests/bin/Debug/netcoreapp3.0
/tests/IdentityServer.SSO.Tests/obj
/tests/IdentityServer.SSO.Tests/bin/Debug/netcoreapp2.2
/src/IdentityServer4.Admin.Extensions/bin/Debug/netstandard2.0
/src/IdentityServer4.Admin.Extensions/obj
/src/IdentityServer4.Admin.API/bin/release/netcoreapp2.2
/src/IdentityServer4.Admin.API/publish
/src/IdentityServer4.Admin.Application/bin/release/netstandard2.0
/src/IdentityServer4.Admin.BuildingBlock/bin/release/netstandard2.0
/src/IdentityServer4.Admin.Data.Mysql/bin/release/netstandard2.0
/src/IdentityServer4.Admin.Domain/bin/release/netstandard2.0
/src/IdentityServer4.Admin.Domain.Core/bin/release/netstandard2.0
/src/IdentityServer4.Admin.Extensions/bin/release/netstandard2.0
/src/IdentityServer4.Admin.Identity/bin/release/netstandard2.0
/src/IdentityServer4.Admin.Infrastructures.Data/bin/release/netstandard2.0
/src/IdentityServer4.Admin.IoC/bin/release/netstandard2.0
/src/IdentityServer4.SSO/bin/release/netcoreapp2.2
/src/IdentityServer4.SSO/publish
/tests/IdentityServer4.Admin.Domain.Tests/bin/Debug/netcoreapp3.0
/tests/IdentityServer4.Admin.Domain.Tests/obj
