################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/IdentityServer4.Admin/v16/.suo
/.vs/IdentityServer4.Admin/v16/Server/sqlite3
/src/IdentityServer4.Admin.API/bin/Debug/netcoreapp2.2
/src/IdentityServer4.Admin.API/obj
/src/IdentityServer4.Admin.Application/bin/Debug/netstandard2.0
/src/IdentityServer4.Admin.Application/obj
/src/IdentityServer4.Admin.Domain/bin/Debug/netstandard2.0
/src/IdentityServer4.Admin.Domain/obj
/src/IdentityServer4.Admin.Infrastructures.Data/bin/Debug/netstandard2.0
/src/IdentityServer4.Admin.Infrastructures.Data/obj
*.dtbcache
/.vs/IdentityServer4.Admin/config
/src/IdentityServer4.Admin.Data.Mysql/bin/Debug/netstandard2.0
/src/IdentityServer4.Admin.Data.Mysql/obj
/src/IdentityServer4.SSO/bin/Debug/netcoreapp2.2
/src/IdentityServer4.SSO/obj
/src/IdentityServer4.Admin.BuildingBlock/bin/Debug/netstandard2.0
/src/IdentityServer4.Admin.BuildingBlock/obj
/src/IdentityServer4.Admin.Domain.Core/bin/Debug/netstandard2.0
/src/IdentityServer4.Admin.Domain.Core/obj
/src/IdentityServer4.Admin.Identity/bin/Debug/netstandard2.0
/src/IdentityServer4.Admin.Identity/obj
/src/IdentityServer4.Admin.IoC/bin/Debug/netstandard2.0
/src/IdentityServer4.Admin.IoC/obj
