################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/IdentityServer4.Admin/v16/.suo
/.vs/IdentityServer4.Admin/v16/Server/sqlite3
/src/IdentityServer4.Admin.API/bin/Debug/netcoreapp2.2
/src/IdentityServer4.Admin.API/obj
/src/IdentityServer4.Admin.Application/bin/Debug/netstandard2.0
/src/IdentityServer4.Admin.Application/obj
/src/IdentityServer4.Admin.Domain/bin/Debug/netstandard2.0
/src/IdentityServer4.Admin.Domain/obj
/src/IdentityServer4.Admin.Infrastructures.Data/bin/Debug/netstandard2.0
/src/IdentityServer4.Admin.Infrastructures.Data/obj
