@{
    ViewData["Title"] = "Home Page";
}

<div class="ui aligned  container" style="margin-top:-16px; padding: 50px 0px">
    <h1 class="ui header">IdentityServer4 SSO</h1>
    <a class="ui huge primary button" href="https://github.com/zengande/IdentityServer4.Admin" target="_blank">
        <i class="icon github"></i>
        GitHub
    </a>
</div>