@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
        <div class="ui inline dropdown">
            <div class="text">today</div>
            <i class="dropdown icon"></i>
            <div class="menu">
                <div class="header">Adjust time span</div>
                <div class="active item" data-text="today">Today</div>
                <div class="item" data-text="this week">This Week</div>
                <div class="item" data-text="this month">This Month</div>
            </div>
        </div>
    </div>
