@model IdentityServer4.SSO.Models.User.ProfileViewModel
@{
    ViewData["Title"] = "Profile";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}
@section Styles{
<link href="~/css/profile.css" rel="stylesheet" />
}

<div class="ui container stackable grid">
    <div class="four wide column">
        <div class="ui card profile-card">
            <div class="blurring dimmable image">
                <div class="ui inverted dimmer">
                    <div class="center">
                        <button id="btn-edit-avatar" class="ui mini primary button"><i class="icon edit"></i> Edit</button>
                    </div>
                </div>
                <img src="~/images/ids4-admin.png">
            </div>
            <div class="content">
                <a class="header">@Model.Nickname</a>
                <div class="meta">
                    <span class="date">@Model.Email</span>
                </div>
            </div>
        </div>
    </div>
    <div class="twelve wide column">
        <div class="ui segment">
            <form class="ui mini form" method="post">
                <div class="fields two">
                    <div class="field">
                        <label asp-for="Nickname"></label>
                        <input asp-for="Nickname" type="text" />
                    </div>
                </div>
                <div class="fields two">
                    <div class="field">
                        <label asp-for="UserName"></label>
                        <input asp-for="UserName" type="text" />
                    </div>
                </div>
                <div class="fields two">
                    <div class="field">
                        <label asp-for="Email"></label>
                        <input asp-for="Email" type="text" />
                    </div>
                </div>
                <div class="fields two">
                    <div class="field">
                        <label>Password</label>
                        <a href="#">Change your password</a>
                    </div>
                </div>
                <button class="ui submit mini primary button">Submit</button>
            </form>
        </div>
    </div>
</div>

<div class="ui tiny modal" id="avatar-dialog">
    <div class="header">
        Profile Picture
    </div>
    <div class="content">
        ssd
    </div>
    <div class="actions">
        <div class="ui black deny mini button">
            Cancel
        </div>
        <div class="ui positive right mini button">
            OK
        </div>
    </div>
</div>

@section Scripts{
<script>
    $(function () {
        $('.profile-card .image').dimmer({
            on: 'hover'
        });

        $('#btn-edit-avatar').on('click', function () {
            $('#avatar-dialog').modal('show');
        })
    });
</script>
}