@using Microsoft.AspNetCore.Http.Features

@{
    var consentFeature = Context.Features.Get<ITrackingConsentFeature>();
    var showBanner = !consentFeature?.CanTrack ?? false;
    var cookieString = consentFeature?.CreateConsentCookie();
}

@if (showBanner)
{
    <div id="cookieConsent" class="ui warning message">
        <i id="close-policy" class="close icon"></i>
        <p>Use this space to summarize your privacy and cookie use policy. <a asp-area="" asp-controller="Home" asp-action="Privacy">Learn More</a>.</p>
        <button type="button" class="accept-policy ui mini button primary" data-cookie-string="@cookieString">
            Accept
        </button>
    </div>
}
