<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - IdentityServer4.SSO</title>

    <link rel="stylesheet" href="~/lib/semanticui/semantic.min.css" />
    <link rel="stylesheet" href="~/lib/semanticui/components/dropdown.min.css" />
    <link href="~/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" />
    @RenderSection("Styles", required: false)
</head>
<body>
    <header class="ui secondary pointing menu top-nav">
        <div class="ui container">
            <a class="header item" href="/">IDS4 SSO</a>
            <a class="item" asp-controller="Home" asp-action="Index">
                Home
            </a>
            <a class="item" asp-action="Index" asp-controller="Grants">
                Grants
            </a>
            <div class="right menu">
                <partial name="_UserLoginPartial" />
            </div>
        </div>
    </header>
    <partial name="_CookieConsentPartial" />
    @RenderBody()

    <footer class="ui container">
        &copy; 2019 - IdentityServer4.SSO - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </footer>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/semanticui/semantic.js"></script>
        <script src="~/lib/semanticui/components/dropdown.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
        </script>
        <script src="~/lib/semanticui/semantic.min.js"></script>
        <script src="~/lib/semanticui/components/dropdown.min.js"></script>
    </environment>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
