<div class="steps-container">
    <ul class="steps">
        <li class="step active"><a href="javascript:;">Check username and email</a></li>
        <li class="step"><a href="javascript:;">Set password and nickname</a></li>
        <li class="step"><a href="javascript:;">Verify email address</a></li>
        <li class="step"><a href="javascript:;">Registration successful</a></li>
        <li class="step disabled"><a href="javascript:;">Disabled</a></li>
    </ul>
</div>