@if (ViewContext.ModelState.IsValid == false)
{
    <div class="ui negative message">
        <div class="header">
            Error!
        </div>
        <div asp-validation-summary="All" class="list"></div>
    </div>
}