@{
    Layout = "~/Views/Shared/_BlankLayout.cshtml";
}
@section Styles{
    <link href="~/css/account.css" rel="stylesheet" />
}

<div class="container-fluid">
    <div class="row loggedout-container">
        <div class="col-lg-6 col-md-6 col-12 d-lg-block d-md-block d-none left">1</div>
        <div class="col-lg-6 col-md-6 col-12 right">2</div>
    </div>
</div>